<div class="form">
  <form [formGroup]="userSettings"
        (submit)="save()">
    <div>

      <text-input label="username"
                  [formControl]="usernameFormcontrol"
                  ngDefaultControl></text-input>

      <text-input label="email"
                  [formControl]="emailFormcontrol"
                  ngDefaultControl></text-input>

      <text-input label="password"
                  [formControl]="passwordFormcontrol"
                  [isPassword]="true"
                  ngDefaultControl></text-input>
    </div>

    <br>
    <button type="submit" class="big">Save</button>
  </form>
</div>
