@import '../variables.scss';
.burger-button {
  margin: auto;
  border-radius: 0;
  border: none;
  width: 100%;
  font-size: 4em;

  span {
    color: $secondary
  }
}

.navigation-bar {
  border-right: 2px solid $primary-dark;
  background-color: $primary;
  height: 100vh;
}

div.logout {
  display: grid;
  justify-items: center;
}
