@import '../../variables.scss';

.route-item {
  padding: 5px 5px;

  .link-text {
    text-decoration: none;
    color: $secondary;
    padding: 4px 8px
  }

  &:hover {
    background-color: mix($primary, $primary-light);
  }
}


